{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="service">
  <div>
    <strong>{{ service.name }}</strong>
    <span style="float: right">ID: {{ service.id }}</span>
  </div>
  <div style="margin-top: 8px">
    <div>State: {{ service.state }}</div>
    <div>Port: {{ service.port }}</div>
    <div>Repository: <a href="{{ service.repo_url }}">{{ service.repo_url }}</a></div>
    <div>Path: <a href="file://{{ service.repo_path }}">{{ service.repo_path }}</a></div>
    {% if service.config %}
    <div>Config ID: {{ service.config }}</div>
    {% else %}
    <div>No config</div>
    {% endif %}
  </div>
  <div style="margin-top: 16px">
    <h4>Dependencies</h4>
    {% for dependency in service.dependencies %}
      {% include "dependency.html" %}
    {% endfor %}
  </div>
  <div style="margin-top: 16px">
    <h4>Management</h4>
    {% include "management.html" %}
  </div>
</div>
{% endblock content %}